{% include 'base.html' %}


{% block body %}
    <div>
        {{idpedido}}
        {{pedidos.plato}}
        <form  method="GET"> 
            <span >COD</span>
            <div >
            <select name="categoria" id="categoria">
                <option value="0">Criollos</option>
                <option value="1">Ceviches</option>
                <option value="2">Especialidades</option>
                <option value="3">Chicharrones</option>
                <option value="4">Parrillas</option>
                <option value="5">postres</option>
                <option value="6">Gaseosas</option>
                <option value="7">TAPERS</option>
            </select>
           
            
              <input type="submit" value="Buscar">
            </div>
          </form>
    </div>
    <div>

  
    <table>
        <thead>
            
            {% if idpedido %}
                <th>pedido</th>
                
            {% endif %}
                


            <th>nombre_plato</th>
            <th>precio_plato</th>
            <th>imagen del plato</th>
            
            {% if idpedido %}
            <th>cantidad</th>
                
            {% endif %}
                
        </thead>
        <tbody>
            
            <tr>
              
                    

            {% for e in plato  %}
                <td></td>
                <td>{{e.Nombre_plato}} </td>
                <td>{{e.precio_plato}}</td>
                <td> <img src={{e.imagen.url}} alt=""></td>
                <td>
                    
                  
                  {% if idpedido %}
                    <form action="{% url 'pedidos_app:pedidos-add-platos' pk=e.id  idpedido=idpedido  %}" method="POST">{% csrf_token %}
                        <input type="number" value="cantidad" name="cantidad" >
                        <input type="submit" value="aceptar">
                    </form> 
                  {% endif %}
                    
                 
                </td>       
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
   
 
       
{% endblock body %}
